/* Componente: Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Mostrar modal */
.modal.show {
  visibility: visible;
  opacity: 1;
}

/* Contenedor del contenido del modal */
.modal-content {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  max-height: 80%;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
    inset 0 1px 2px rgba(255, 255, 255, 0.7),
    inset 0 -1px 3px rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  position: relative;
}

/* Título del modal */
.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}

/* Imagen en el modal */
.modal-content img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Descripción del modal */
.modal-content p {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Botón de cierre */
.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}
