@import url("css/header.css");
@import url("css/whatsapp.css");
@import url("css/footer.css");
@import url("css/video.css");
@import url("css/formulario.css");
@import url("css/conocenos.css");
@import url("css/servicios.css");
@import url("css/contactanos.css");
html {
  scroll-behavior: smooth; /* Habilita el smooth scroll en todo el documento */
}

/* Estilos generales del cuerpo de la página */
body {
  font-family: "Roboto", sans-serif; /* Fuente de texto principal */
  margin: 0px; /* Elimina los márgenes por defecto */
  padding: 0px; /* Elimina el padding por defecto */
  background-color: #ffffff; /* Color de fondo blanco */
  color: #000; /* Color de texto negro */
  overflow-y: yes;
}
