@import url("css/header.css");
@import url("css/whatsapp.css");
@import url("css/footer.css");
@import url("css/video.css");
@import url("css/formulario.css");
@import url("css/conocenos.css");
@import url("css/servicios.css");
@import url("css/contactanos.css");
html {
  scroll-behavior: smooth; /* Habilita el smooth scroll en todo el documento */
}

/* Estilos generales del cuerpo de la página */
body {
  font-family: "Roboto", sans-serif; /* Fuente de texto principal */
  margin: 0px; /* Elimina los márgenes por defecto */
  padding: 0px; /* Elimina el padding por defecto */
  background-color: #ffffff; /* Color de fondo blanco */
  color: #000; /* Color de texto negro */
  overflow-y: yes;
}

/* Componente: Carrusel de imágenes */
.carousel {
  margin-top: 80px; /* Espacio superior de 80px (debajo del header) */
  height: 450px; /* Altura del carrusel en 450px */
  background-color: #e0e0e0; /* Fondo gris claro */
  display: flex; /* Uso de Flexbox para centrar el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
}

.carousel-item {
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  overflow: hidden; /* Oculta el desbordamiento */
  display: flex; /* Uso de Flexbox para centrar la imagen */
  justify-content: center; /* Centra horizontalmente la imagen */
  align-items: center; /* Centra verticalmente la imagen */
  transition: transform 0.5s ease-in-out; /* Transición suave de movimiento */
}

.carousel-item img {
  width: 100%; /* Imagen se adapta al ancho completo */
  height: 100%; /* Imagen se adapta a la altura completa */
  object-fit: cover; /* Cubre el contenedor manteniendo la proporción */
}
